<html>
<head>
    {{ include('AppBundle:Pratiche/pdf/parts:style.html.twig', {'pratica':pratica, 'user': user}) }}
</head>
<body>
    <p>
        {{ richiesta_integrazione.message }}
    </p>
</body>
</html>
