{% extends '@App/Default/index.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
{% endblock %}
{% block main_content %}

  <section id="intro" class="container px-4 my-4">
    <div class="row">
      <div class="col-12 px-lg-4 py-lg-2">
        <h1>{{ 'documenti.i_miei_documenti' | trans }}</h1>
      </div>
      <div class="col-12 px-lg-4 py-lg-2 my-5">
        {% if folders is empty %}
          <p>{{ 'documenti.no_documenti' | trans }}</p>
        {% else %}
          <table id="folders_table" class="table border-bottom">
            {% for folder in folders %}
              <tr>
                <td class="align-middle">
                  {% if user.id == folder.owner.id %}
                    <svg class="icon">
                      <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-folder"></use>
                    </svg>
                  {% else %}
                    <svg class="icon">
                      <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-share"></use>
                    </svg>
                  {% endif %}
                </td>
                <td class="align-middle">
                  <a class="text-decoration-none text-black" href="{{ path('documenti_list_cpsuser', {'folderId': folder.id}) }}">{{ folder.title }}</a>

                </td>
                <td class="align-middle">
                  <div class="float-right">
                    <a href="{{ path('documenti_list_cpsuser', {'folderId': folder.id}) }}">
                      <svg class="icon icon-lg icon-primary">
                        <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-chevron-right"></use>
                      </svg>
                    </a>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}
      </div>
    </div>
  </section>

{% endblock %}

