<label style="font-weight: 600; padding: 0 0.5rem;">Orari di apertura</label>
<fieldset class="bg-light p-3 mb-3">
  <div id="opening_hours"
       data-prototype='
          <div id="appbundle_calendar_opening_hours___name__">
            <div class="row">
                <div class="col-6">
                  <div class="form-group"><label for="appbundle_calendar_opening_hours___name___start_date" class="required">Data di inizio</label><input type="date" id="appbundle_calendar_opening_hours___name___start_date" name="appbundle_calendar[opening_hours][__name__][start_date]"  value="{{ "now"|date('Y-m-d')}}" required="required" class="form-control"></div>
                  <div class="form-group"><label for="appbundle_calendar_opening_hours___name___begin_hour" class="required">Orario di apertura</label><input type="time" id="appbundle_calendar_opening_hours___name___begin_hour" name="appbundle_calendar[opening_hours][__name__][begin_hour]" required="required" class="form-control"></div>
                </div>
                <div class="col-6">
                  <div class="form-group"><label for="appbundle_calendar_opening_hours___name___end_date" class="required">Data di fine</label><input type="date" id="appbundle_calendar_opening_hours___name___end_date" name="appbundle_calendar[opening_hours][__name__][end_date]" value="{{ "last day of december" |date('Y-m-d')}}" required="required" class="form-control"></div>
                  <div class="form-group"><label for="appbundle_calendar_opening_hours___name___end_hour" class="required">Orario di chiusura</label><input type="time" id="appbundle_calendar_opening_hours___name___end_hour" name="appbundle_calendar[opening_hours][__name__][end_hour]" required="required" class="form-control"></div>
                </div>
            </div>
            <fieldset class="form-group">
              <legend class="col-form-label">Giorni della settimana</legend>
              <div id="appbundle_calendar_opening_hours___name___days_of_week">
                <div class="form-check">
                  <input type="checkbox" id="appbundle_calendar_opening_hours___name___days_of_week_0" name="appbundle_calendar[opening_hours][__name__][days_of_week][]" class="form-check-input" value="1">
                  <label class="form-check-label" for="appbundle_calendar_opening_hours___name___days_of_week_0">Lunedì</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" id="appbundle_calendar_opening_hours___name___days_of_week_1" name="appbundle_calendar[opening_hours][__name__][days_of_week][]" class="form-check-input" value="2">
                  <label class="form-check-label" for="appbundle_calendar_opening_hours___name___days_of_week_1">Martedì</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" id="appbundle_calendar_opening_hours___name___days_of_week_2" name="appbundle_calendar[opening_hours][__name__][days_of_week][]" class="form-check-input" value="3">
                  <label class="form-check-label" for="appbundle_calendar_opening_hours___name___days_of_week_2">Mercoledì</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" id="appbundle_calendar_opening_hours___name___days_of_week_3" name="appbundle_calendar[opening_hours][__name__][days_of_week][]" class="form-check-input" value="4">
                  <label class="form-check-label" for="appbundle_calendar_opening_hours___name___days_of_week_3">Giovedì</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" id="appbundle_calendar_opening_hours___name___days_of_week_4" name="appbundle_calendar[opening_hours][__name__][days_of_week][]" class="form-check-input" value="5">
                  <label class="form-check-label" for="appbundle_calendar_opening_hours___name___days_of_week_4">Venerdì</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" id="appbundle_calendar_opening_hours___name___days_of_week_5" name="appbundle_calendar[opening_hours][__name__][days_of_week][]" class="form-check-input" value="6">
                  <label class="form-check-label" for="appbundle_calendar_opening_hours___name___days_of_week_5">Sabato</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" id="appbundle_calendar_opening_hours___name___days_of_week_6" name="appbundle_calendar[opening_hours][__name__][days_of_week][]" class="form-check-input" value="7">
                  <label class="form-check-label" for="appbundle_calendar_opening_hours___name___days_of_week_6">Domenica</label>
                </div>
              </div>
            </fieldset>
            <div class="row">
              <div class="col-6">
                <div class="form-group"><label for="appbundle_calendar_opening_hours___name___meeting_queue" class="required active" style="transition: none;">Numero di meeting paralleli</label><input type="text" id="appbundle_calendar_opening_hours___name___meeting_queue" name="appbundle_calendar[opening_hours][__name__][meeting_queue]" value="1" required="required" class="form-control"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group"><label for="appbundle_calendar_opening_hours___name___meeting_minutes" class="required active" style="transition: none;">Durata del meeting</label><input type="text" id="appbundle_calendar_opening_hours___name___meeting_minutes" name="appbundle_calendar[opening_hours][__name__][meeting_minutes]" value="30" required="required" class="form-control"></div>
              </div>
              <div class="col-6">
                <div class="form-group"><label for="appbundle_calendar_opening_hours___name___interval_minutes" class="required active" style="transition: none;">Intervallo tra i meeting</label><input type="text" id="appbundle_calendar_opening_hours___name___interval_minutes" name="appbundle_calendar[opening_hours][__name__][interval_minutes]" value="0" required="required" class="form-control"></div>
              </div>
            </div>
            <div class="form-row float-right">
              <div class="form-group">
                <a class="btn btn-danger btn-xs js-remove-opening_hour" href="#">
                  <svg class="icon icon-sm icon-white"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-delete"></use></svg>
                  <span>Elimina apertura</span>
                </a>
              </div>
            </div>
          </div>
          <div class="clearfix mb-4"></div>'
       data-widget-opening_hour="{{ '<div class="js-opening_hour-item"></div>'|e }}"
       data-widget-counter="{{ form.opening_hours|length }}">
    {% if form.opening_hours|length > 0 %}
      {% for opening_hour in form.opening_hours %}
        <div class="js-opening_hour-item">
          <div id="appbundle_calendar_opening_hours___name__">
            <div class="row">
              <div class="col-6">
                {{ form_row(opening_hour.start_date) }}
                {{ form_row(opening_hour.begin_hour) }}
              </div>
              <div class="col-6">
                {{ form_row(opening_hour.end_date) }}
                {{ form_row(opening_hour.end_hour) }}
              </div>
            </div>
            {{ form_row(opening_hour.days_of_week) }}
            <div class="row">
              <div class="col-6">
                {{ form_row(opening_hour.meeting_queue) }}
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                {{ form_row(opening_hour.meeting_minutes) }}
              </div>
              <div class="col-6">
                {{ form_row(opening_hour.interval_minutes) }}
              </div>
            </div>
            <div class="form-row float-right">
              <div class="form-group">
                <a class="btn btn-danger btn-xs js-remove-opening_hour" href="#">
                  <svg class="icon icon-sm icon-white">
                    <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-delete"></use>
                  </svg>
                  <span>Elimina apertura</span>
                </a>
              </div>
            </div>
            <div class="clearfix mb-4"></div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="alert alert-info" id="no-opening_hours">Non sono presenti orari di apertura</div>
    {% endif %}
  </div>
  <button type="button"
          class="add-another-opening_hour-widget btn btn-xs btn-primary"
          class="add-another-opening_hour-widget btn btn-xs btn-primary"
          data-list-selector="#opening_hours">Aggiungi orario di apertura
  </button>
</fieldset>

