<div class="modal fade" tabindex="-1" role="dialog" id="modalCenter">
  <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button id="modalClose" class="close" type="button" data-dismiss="modal" aria-label="Close">
          <svg class="icon">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>
          </svg>
        </button>
      </div>
      <div class="modal-title mx-4">
        <h5 id="modalTitle"></h5>
      </div>
      <div class="modal-body">
        <div id="modalId" class="d-none"></div>
        <div id="modalStatus" class="d-none"></div>
        <div class="row mt-3">
          <div class="col-1">
            <svg class="icon">
              <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-clock"></use>
            </svg>
          </div>
          <div class="col-4">
            <input id="modalDate" type="date">
          </div>
          <div class="col-1"></div>
          <div class="col-auto">
            <input type="text" id="modalSlot" list="slots" class="custom-select custom-select-sm"
                   onclick="this.value = ''" placeholder="Seleziona orario">
            <datalist id="slots"></datalist>
          </div>
        </div>
        <div id="no_slots_edit_alert" class="row mt-3">
          <div class="col-1"></div>
          <div class="col-10">
            <small class="text-danger">Non ci sono orari disponibili alla data selezionata</small>
          </div>
        </div>
        <div id="edit_alert" class="row mt-3">
          <div class="col-1"></div>
          <div class="col-10">
            <small><b>Attenzione</b>: la modifica della data comporterà l'invio di una
              notifica al cittadino e la conferma automatica dell'appuntamento</small>
          </div>
        </div>
        <br>
        <div class="row mt-3">
          <div class="col-1">
            <svg class="icon">
              <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-note"></use>
            </svg>
          </div>
          <div class="col-10">
            <textarea style="border: none" id="modalDescription" ></textarea>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-1">
            <svg class="icon">
              <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-link"></use>
            </svg>
          </div>
          <div class="col-10">
            <input type="url" id="modalVideoconferenceLink" placeholder="Link videoconferenza">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-1">
            <svg class="icon">
              <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-telephone"></use>
            </svg>
          </div>
          <div class="col-6">
            <input type="tel" id="modalPhone" class="col-10" placeholder="Recapito telefonico">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-1">
            <svg class="icon">
              <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-mail"></use>
            </svg>
          </div>
          <div class="col-6">
            <input type="email" id="modalEmail" class="col-10" placeholder="Indirizzo Email">
          </div>
        </div>
        <div id="modalReschedule" class="row mt-3">
          <div class="col-1">
            <svg class="icon">
              <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-warning-circle"></use>
            </svg>
          </div>
          <div class="col-10" id="modalRescheduleText"></div>
        </div>
        <div class="row mt-4">
          <div class="col-1">
            <svg class="icon">
              <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-tool"></use>
            </svg>
          </div>
          <div class="col-10">
            <button id="modalApprove" data-url='{{ path("meetings_api_patch", {'id': 'meeting_id'}) }}'
                    class="btn btn-success btn-sm mr-3" type="button" onclick="editEvent(this.id, 1)">
              Conferma
            </button>
            <button id="modalRefuse" data-url='{{ path("meetings_api_patch", {'id': 'meeting_id'}) }}'
                    class="btn btn-danger btn-sm mr-3" type="button" onclick="editEvent(this.id,2)">
              Rifiuta
            </button>
            <button id="modalComplete" data-url='{{ path("meetings_api_patch", {'id': 'meeting_id'}) }}'
                    class="btn btn-secondary btn-sm mr-3" type="button" onclick="editEvent(this.id,4)">
              Completa
            </button>
            <button id="modalMissed" data-url='{{ path("meetings_api_patch", {'id': 'meeting_id'}) }}'
                    class="btn btn-danger btn-sm mr-3" type="button" onclick="editEvent(this.id,3)">
              Assente
            </button>
            <button id="modalCancel" data-url='{{ path("meetings_api_patch", {'id': 'meeting_id'}) }}'
                    class="btn btn-warning btn-sm mr-3" type="button" onclick="editEvent(this.id,5)">
              Annulla
            </button>
            <p class="mt-4"><small><b>Attenzione</b>: la modifica dello stato comporterà l'invio di una notifica al
                cittadino</small></p>
          </div>
        </div>
      </div>

      <div class="modal-footer my-3 d-flex justify-content-between" >
        <ul id="modalError" class="text-danger list-unstyled"></ul>
        <button id="modalSave" data-url='{{ path("meetings_api_patch", {'id': 'meeting_id'}) }}'
                class="btn btn-primary btn-sm" type="button" onclick="editEvent(this.id)">Salva</button>
      </div>
    </div>
  </div>
</div>
