{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <h1 class="text-center title mb-5">Modifica profilo</h1>
    {% include "@FOSUser/Profile/edit_content.html.twig" %}
{% endblock fos_user_content %}
