{% if pratica.canBeAssigned %}
  <div class="row mb-5">
    {% if not pratica.servizio.praticaFlowOperatoreServiceName or pratica.servizio.praticaFlowOperatoreServiceName == 'ocsdc.form.flow.standardoperatore' %}


      {% if  pratica.status == constant('STATUS_REQUEST_INTEGRATION', pratica) %}
        <div class="col d-flex justify-content-center">
          <p>Richiesta integrazioni in attesa di protocollazione</p>
        </div>
      {% elseif  pratica.status == constant('STATUS_SUBMITTED_AFTER_INTEGRATION', pratica) %}
        <div class="col d-flex justify-content-center">
          <p>Integrazioni in attesa di protocollazione</p>
        </div>
      {% elseif  pratica.status == constant('STATUS_DRAFT_FOR_INTEGRATION', pratica) %}
        <div class="col d-flex justify-content-center">
          <a href="{{ path('operatori_accept_integration', {'pratica': pratica}) }}" class="btn btn-primary">
            <svg class="icon icon-light">
              <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-check"></use>
            </svg>
            {{ 'operatori.chiudi_richiesta_integrazione' | trans }}
          </a>
        </div>
      {% else %}
        {{ include('@App/Operatori/parts/change_status_modal.html.twig') }}
        <div class="col d-flex justify-content-center">
          <button class="btn btn-outline-secondary" id="modal_refuse" data-toggle="modal"
                  data-target=".bd-example-modal-lg">
            <svg class="icon icon-danger">
              <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>
            </svg>{{ 'operatori.rigetta' | trans }}
          </button>
        </div>

        {% if  pratica.status == constant('STATUS_PENDING', pratica) %}
          {% if feature('feature_integration_request') %}
            <div class="col d-flex justify-content-center">
              <button class="btn btn-outline-secondary" id="modal-integration" data-toggle="modal"
                      data-target="#integration-request-modal">
                <svg class="icon icon-warning">
                  <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-comment"></use>
                </svg>{{ 'operatori.richiedi_intergrazioni' | trans }}</button>
            </div>
          {% endif %}
        {% endif %}

        <div class="col d-flex justify-content-center">
          <button class="btn btn-primary" id="modal_approve" data-toggle="modal"
                  data-target=".bd-example-modal-lg">
            <svg class="icon icon-light">
              <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-check"></use>
            </svg>{{ 'operatori.approva' | trans }}</button>
        </div>
      {% endif %}


    {% else %}
      <div class="col-6 d-flex justify-content-center">
        <a href="{{ path('operatori_elabora_pratica', {'pratica': pratica}) }}" class="btn btn-secondary">
          <svg class="icon icon-light">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>
          </svg>
          {{ 'operatori.rigetta' | trans }}
        </a>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <a href="{{ path('operatori_elabora_pratica', {'pratica': pratica}) }}" class="btn btn-primary">
          <svg class="icon icon-light">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-check"></use>
          </svg>
          {{ 'operatori.approva' | trans }}
        </a>
      </div>
    {% endif %}
  </div>
{% else %}
  <div class=" alert alert-info mb-5">
    <p>
      {{ 'operatori.iter_completato' | trans({
        '%statusName%': pratica.statusName | trans,
        '%data%': pratica.latestStatusChangeTimestamp | date(ocsdc_default_date_format),
        '%ore%': pratica.latestStatusChangeTimestamp | date('H:i:s')})
      | raw }}
    </p>
    {% if pratica.motivazioneEsito %}
      <p class="mb-0 p-2 bg-light">{{ pratica.motivazioneEsito }}</p>
    {% endif %}
    {% if pratica.allegatiOperatore|length > 0 %}
      <p class="mb-0 px-2 pb-2 bg-light">
        {% for allegato in pratica.allegatiOperatore %}
          <a class="text-decoration-none d-block"
             href="{{ path('allegati_download_operatore', {'allegato': allegato.id}) }}">
            <small><i class="fa fa-file"></i> {{ allegato.description }}</small>
          </a>
        {% endfor %}
      </p>
    {% endif %}
    <p class="py-2 mb-0">
      <button class="btn btn-xs btn-outline-secondary" data-toggle="collapse" data-target="#collapseEmail"
              aria-expanded="false" aria-controls="collapseEmail"><i class="fa fa-paper-plane-o"></i> Visualizza la
        notifica inviata all'utente
      </button>
    </p>
    <div class="collapse" id="collapseEmail">{{ sent_email|raw }}</div>
  </div>
{% endif %}
