<div class="row">
  <div class="col-md-12">
    <ul class="list-unstyled">
      {% for commento in pratica.commenti %}
        <li>
          <small>{{ commento.createdAt|date(ocsdc_default_datetime_format) }}</small>
          <p><strong>{{ commento.creator }}:</strong> {{ commento.text }}</p>
        </li>
      {% endfor %}
    </ul>
    {{ form(messageForm) }}
  </div>
</div>
