{% if pratica.servizio.isProtocolRequired %}
    {% if pratica.numeroProtocollo %}
        <div>
            <div>
                <h5 class="primary">{{ 'operatori.fascicolo' | trans }}</h5>
            </div>
            <div class="d-flex justify-content-between">
                <div class="font-weight-semibold">{{ 'operatori.numero_fascicolo' | trans }}</div>
                <div><code>{{ pratica.numeroFascicolo }}</code></div>
            </div>
        </div>
        <div class="mt-5">
            <div>
                <h5>{{ 'operatori.documenti' | trans }}</h5>
            </div>
            <div class="collapse-div" role="tablist">
                <!-- Compiled module -->
                <div class="collapse-header" id="protocol_compiled_module">
                    <button data-toggle="collapse" data-target="#collapse_compiled_module" aria-expanded="false"
                            aria-controls="collapse_compiled_module">
                        <div class="row">
                            <div class="col-8">{{ 'operatori.modulo' | trans }}</div>
                            <div class="col-4">
                                <div class="chip float-right">
                                    <svg class="icon icon-xs">
                                        <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-arrow-left"></use>
                                    </svg>
                                    <span class="chip-label">{{ 'operatori.protocollo_arrivo' | trans }}</span>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                <div id="collapse_compiled_module" class="collapse" role="tabpanel"
                     aria-labelledby="protocol_compiled_module">
                    <div class="collapse-body">
                        <div class="d-flex justify-content-between my-2">
                            <div class="font-weight-semibold">{{ 'operatori.numero_protocollo' | trans }}</div>
                            <div><code>{{ pratica.numeroProtocollo }}</code></div>
                        </div>
                        <div class="d-flex justify-content-between my-2">
                            <div class="font-weight-semibold">{{ 'operatori.id_documento' | trans }}</div>
                            <div><code>{{ pratica.idDocumentoProtocollo }}</code></div>
                        </div>
                        {% if module_protocols | length > 0 %}
                            <div class="my-2">
                                <div class="font-weight-semibold">{{ 'operatori.allegati' | trans }}</div>
                                <ul>
                                    {% for attachment in module_protocols %}
                                        <li>
                                            <span class="badge badge-light text-decoration-none">{{ attachment['protocollo'] }}</span>
                                            <span class="small">{{ attachment['allegato'].originalFilename }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!-- Messages -->
                {% if pratica.messages | length > 0 %}
                    <div class="collapse-header" id="protocol_messages">
                        <button data-toggle="collapse" data-target="#collapse_messages" aria-expanded="false"
                                aria-controls="collapse_messages">
                            <div>{{ 'operatori.messaggi.titolo' | trans }}</div>
                        </button>
                    </div>
                    <div id="collapse_messages" class="collapse" role="tabpanel" aria-labelledby="protocol_messages">
                        <div class="collapse-body">
                            <div id="collapse_messages_detail" class="collapse-div" role="tablist">
                                {% for message in pratica.messages %}
                                    {% if message.isProtocolRequired %}
                                        <div class="collapse-header" id="heading_{{ loop.index0 }}">
                                            <button data-toggle="collapse" data-target="#collapse_{{ loop.index0 }}"
                                                    aria-expanded="false"
                                                    aria-controls="collapse_{{ loop.index0 }}">
                                                <div class="row">
                                                    <div class="col-8">{{ message.author.fullName }}
                                                        - <small>{{ message.createdAt|date("d/m/Y H:m") }}</small></div>
                                                    <div class="col-4">
                                                        <div class="chip float-right">
                                                            {% if message.author == pratica.user %}
                                                                <svg class="icon icon-xs">
                                                                    <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-arrow-left"></use>
                                                                </svg>
                                                                <span class="chip-label">{{ 'operatori.protocollo_arrivo' | trans }}</span>
                                                            {% else %}
                                                                <svg class="icon icon-xs">
                                                                    <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
                                                                </svg>
                                                                <span class="chip-label">{{ 'operatori.protocollo_partenza' | trans }}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                        <div id="collapse_{{ loop.index0 }}" class="collapse" role="tabpanel"
                                             aria-labelledby="heading_{{ loop.index0 }}">
                                            <div class="collapse-body">
                                                {% if message.protocolNumber %}
                                                    <div class="d-flex justify-content-between my-2">
                                                        <div class="font-weight-semibold">{{ 'operatori.numero_protocollo' | trans }}</div>
                                                        <div><code>{{ message.id }}</code></div>
                                                    </div>
                                                    {% if message.attachments | length > 0 %}
                                                        <div>
                                                            <div class="font-weight-semibold">{{ 'operatori.allegati' | trans }}</div>
                                                            <ul>
                                                                {% for attachment in message.attachments %}
                                                                    <li>
                                                                        <!--span class="badge badge-light text-decoration-none"></span-->
                                                                        <span class="small">{{ attachment.originalFilename }}</span>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    {% endif %}
                                                {% else %}
                                                    <div class="text-center font-italic">{{ 'operatori.attesa_modulo_protocollato' | trans }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!-- Outcome -->
                {% if pratica.rispostaOperatore %}
                    <div class="collapse-header" id="protocol_outcome">
                        <button data-toggle="collapse" data-target="#collapse_outcome" aria-expanded="false"
                                aria-controls="collapse_outcome">
                            <div class="row">
                                <div class="col-8">{{ 'operatori.esito' | trans }}</div>
                                <div class="col-4">
                                    <div class="chip float-right">
                                        <svg class="icon icon-xs">
                                            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
                                        </svg>
                                        <span class="chip-label">{{ 'operatori.protocollo_partenza' | trans }}</span>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div id="collapse_outcome" class="collapse" role="tabpanel" aria-labelledby="protocol_outcome">
                        <div class="collapse-body">
                            {% if pratica.rispostaOperatore.numeroProtocollo %}
                                <div class="d-flex justify-content-between my-2">
                                    <div class="font-weight-semibold">{{ 'operatori.numero_protocollo' | trans }}</div>
                                    <div><code>{{ pratica.rispostaOperatore.numeroProtocollo }}</code></div>
                                </div>
                                <div class="d-flex justify-content-between my-2">
                                    <div class="font-weight-semibold">{{ 'operatori.id_documento' | trans }}</div>
                                    <div><code>{{ pratica.rispostaOperatore.idDocumentoProtocollo }}</code></div>
                                </div>
                                {% if outcome_protocols | length > 0 %}
                                    <div class="my-2">
                                        <div class="font-weight-semibold">{{ 'operatori.allegati' | trans }}</div>
                                        <ul>
                                            {% for attachment in outcome_protocols %}
                                                <li>
                                                    <span class="badge badge-light text-decoration-none">{{ attachment['protocollo'] }}</span>
                                                    <span class="small">{{ attachment['allegato'].originalFilename }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="text-center font-italic">{{ 'operatori.attesa_modulo_protocollato' | trans }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="text-center font-italic">{{ 'operatori.attesa_modulo_protocollato' | trans }}</div>
    {% endif %}
{% else %}
    <div class="text-center font-italic">{{ 'operatori.protocollo_non_previsto' | trans }}</div>
{% endif %}
