{% if pratica.canBeAssigned %}
  <div class="row mb-5">
    <div class="col-12 d-flex justify-content-center">
      <a class="btn btn-primary" href="{{ path('operatori_reassign_pratica', {'pratica': pratica}) }}">
        <svg class="icon icon-light" href="#">
          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-unlocked"></use>
        </svg>
        {{ 'operatori.subentra' | trans({'%completename%': pratica.operatore.fullName}) }}
      </a>
    </div>
  </div>
{% else %}
  <div class=" alert alert-info mb-5">
    <p class="m-0">
      {{ 'operatori.iter_completato' | trans({
        '%statusName%': pratica.statusName | trans,
        '%data%': pratica.latestStatusChangeTimestamp | date(ocsdc_default_date_format),
        '%ore%': pratica.latestStatusChangeTimestamp | date('H:i:s')})
       | raw}}
    </p>
    {% if pratica.motivazioneEsito %}
      <p class="mt-2 mb-0 p-2 bg-light">{{ pratica.motivazioneEsito }}</p>
    {% endif %}
    <p class="py-2"><button class="btn btn-xs btn-outline-secondary" data-toggle="collapse" data-target="#collapseEmail" aria-expanded="false" aria-controls="collapseEmail"><i class="fa fa-paper-plane-o"></i> Visualizza l'email inviata all'utente</button></p>
    <div class="collapse" id="collapseEmail">{{ sent_email|raw }}</div>
  </div>
{% endif %}
