{% extends '@App/Default/index.html.twig' %}

{% block stylesheets %}
  {{ encore_entry_link_tags('compile') }}

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('compile') }}

  <script src="{{ asset('bundles/app/js/formio-i18n.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>

  <script>
      $(document).ready(function() {
          setInterval(function() {
              window.location.reload();
          }, 15000);
      });
  </script>

{% endblock %}

{% block main_content %}
    <section id="intro" class="container px-4 my-4">
        <div class="row">
            <div class="col-12 px-lg-4 py-lg-2">
                <h1>{{ pratica.servizio.name }}</h1>
            </div>

            <div class="col-lg-8 px-lg-4 py-lg-2">
                {% if pratica.servizio.finalIndications and pratica.status >= 1900 and pratica.status <= 3000 %}
                  <div class="alert alert-info">
                    <p>{{ pratica.servizio.finalIndications | raw }}</p>
                  </div>
                {% endif %}

                {{ include('AppBundle:Pratiche/parts:pratica_summary.html.twig', {'pratica':pratica, 'user': null}) }}
            </div>

            <div class="col-lg-3 offset-lg-1 pt-5 pt-lg-2 ">
                <div class="row">
                    <div class="col-12 pb-5">
                        {{ include('AppBundle:Pratiche/parts:pratica_iter.html.twig', {'pratica':pratica}) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
