{% if user is defined and not user is null %}
  {% set download_allegato_path = user.id == pratica.user.id ? 'allegati_download_cpsuser' : 'allegati_download_operatore' %}
  {% if pratica.statusName == 'STATUS_COMPLETE' or pratica.statusName == 'STATUS_CANCELLED' %}
    <div class="row last">
      <div class="col-xs-12 col-sm-12">
        <div class="alert alert-{% if pratica.esito %}success{% else %}danger{% endif %}">
          {% if pratica.esito %}
            <h5>{{ 'pratica.dettaglio.esito.accettata'|trans|raw }}</h5>
          {% else %}
            <h5>{{ 'pratica.dettaglio.esito.rifiutata'|trans|raw }}</h5>
          {% endif %}

          {% if pratica.motivazioneEsito %}
            <p class="m-0">{{ pratica.motivazioneEsito }}</p>
          {% endif %}
        </div>
      </div>
      {% if pratica.allegatiOperatore|length > 0 %}
        {% for allegato in pratica.allegatiOperatore %}
          <div class="col-8 mb-1">{{ allegato.description }}</div>
          <div class="col-4 mb-1">
            <a href="{{ path(download_allegato_path, {'allegato': allegato.id}) }}"
               class="btn btn-success btn-md">{{ 'operatori.scarica'|trans }}</a>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  {% endif %}
  {{ include('AppBundle:Pratiche/summary/parts:risposta_operatore.html.twig', {'pratica':pratica, 'user': user}) }}
{% endif %}


