<div class="row">
  <div class="col-md-12">
    {% if not user %}
      <div class="font-italic text-center">{{ 'operatori.messaggi.anonymous' | trans }}</div>
    {% elseif pratica.operatore %}
      <ul class="list-unstyled px-3 mt-2">
        {% for message in pratica.publicMessages %}
          {{ include('AppBundle:Message:message.html.twig') }}
        {% endfor %}
      </ul>
      <div>
        {{ form_start(messageForm) }}
        {{ form_errors(messageForm) }}
        {{ form_row(messageForm.message, {'attr': {'class': 'summernote'}}) }}
        <div class="form-group pb-0 mb-0">
          <label>{{ 'operatori.messaggi.allega_label' | trans }}</label>
          {{ form_row(messageForm.attachments) }}
        </div>
        <div id="vueApp" class="px-2">
          <message_attachments id="upload_message_attachment"></message_attachments>
          <small class="form-text text-muted">{{ 'operatori.messaggi.allega_help' | trans }}</small>
        </div>

        <div class="d-flex justify-content-end mt-5">
          {% if not pratica.operatore %}
            <div>{{ form_widget(messageForm.applicant, {'attr': {'disabled': true, 'title': 'operatori.messaggi.prendi_in_carico_per_abilitare'|trans}}) }}</div>
          {% else %}
            <div>{{ form_widget(messageForm.applicant) }}</div>
          {% endif %}
          <div class="d-none">{{ form_widget(messageForm.internal) }}</div>
        </div>
        {{ form_end(messageForm) }}
      </div>
    {% else %}
      <div class="font-italic text-center">{{ 'operatori.messaggi.no_operator' | trans }}</div>
    {% endif %}
  </div>
</div>
