{% extends 'AppBundle:Emails:base.html.twig' %}
{% block email_content %}
  <table align='center' bgcolor='#fff' border='0' cellpadding='0' cellspacing='0' id='backgroundTable' style='background: #fff;'>
    <tr>
      <td style="padding: 20px">
        {{ text|raw }}
      </td>
    </tr>
  </table>
{% endblock %}

