{{ 'email.pratica.dear'|trans({'%user_name%' : user_name})|striptags }}
{{ ('email.pratica.user.' ~ pratica.statusName|replace({'_':'.'})|lower)|trans({'%servizio%': pratica.servizio.name, '%pratica_id%': pratica.id, '%protocollo%': pratica.numeroProtocollo})|striptags }}
{% if pratica.getEsito() and not pratica.getEsito() is null %}
  {% if not pratica.getMotivazioneEsito() is empty %}
    Con la seguente motivazione:
    {{ pratica.getMotivazioneEsito() }}
  {% endif %}
{% endif %}
{{ 'email.pratica.thanks'|trans() }}
{{ absolute_url(path('pratiche_show', {'pratica': pratica}))  }}
