{% extends 'AppBundle:Emails:base.html.twig' %}

{% block email_content %}
  <table align='center' bgcolor='#fff' border='0' cellpadding='0' cellspacing='0' id='backgroundTable'
         style='background: #fff;'>
    <tr>
      <td style="padding: 20px">
        <p>
          {{ 'email.pratica.dear'|trans({'%user_name%' : user_name})|striptags }}
        </p>
        <p>{{ ('email.pratica.user.' ~ pratica.statusName|replace({'_':'.'})|lower)|trans({'%servizio%': pratica.servizio.name, '%pratica_id%': pratica.id, '%protocollo%': pratica.numeroProtocollo})|raw }}</p>

        {% if not pratica.getMotivazioneEsito() is empty and not pratica.getEsito() is null %}
          <p>
            Con la seguente motivazione:<br>
            {{ pratica.getMotivazioneEsito() }}
          </p>
        {% endif %}
        <p>
          {{ 'email.pratica.thanks'|trans() }}
        </p>
      </td>
    </tr>
  </table>
{% endblock %}
