{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <h1 class="text-center title mb-5">Modifica password</h1>
    {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/password-score.js') }}"></script>
    <script src="{{ asset('bundles/app/js/password-score-options.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap-strength-meter.js') }}"></script>
    <script src="{{ asset('bundles/app/js/password.js') }}"></script>

    <script>
      $(document).ready(function () {
        $('#fos_user_change_password_form_plainPassword_first').password({});
      });
    </script>
{% endblock %}