{% extends '@App/Default/index.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('chars-operator') }}
{% endblock %}

{% block main_content %}
  <section id="intro" class="container px-4 my-4">
    <div class="row">
      <div class="col-12">
        <table class="table">
          <tr>
            <th>{{ 'operatori.usage.service_title'|trans }}</th>
            <td>{{ servizi|length }}</td>
          </tr>
          {% for p in pratiche %}
            <th>{{ 'operatori.usage.pratiche_title'|trans }} {{ p.tslot|date('Y') }}</th>
            <td>{{ p.count }}</td>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="bootstrap-select-wrapper">
          <label>Filtra per Stato pratica</label>
          <select title="Scegli una opzione" class="select-status">
            <option value="all" selected>Tutti</option>
            {% for status in statusServices.statiPratiche %}
              <option value="{{ status.status }}">{{ status.name }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bootstrap-select-wrapper">
          <label>Filtra per Servizio pratica</label>
          <select title="Scegli una opzione" class="select-services">
            <option value="all" selected>Tutti</option>
            {% for pratica in statusServices.serviziPratiche %}
              <option value="{{ pratica.slug }}">{{ pratica.name }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bootstrap-select-wrapper">
          <label>Filtra per Data</label>
          <select title="Scegli una opzione" class="select-time">
            <option value="5">Ultimi 5 minuti</option>
            <option value="15">Ultimi 15 minuti</option>
            <option value="30">Ultimi 30 minuti</option>
            <option value="60">Ultima ora</option>
            <option value="180">Ultime 3 ore</option>
            <option value="360">Ultime 6 ore</option>
            <option value="720">Ultime 12 ore</option>
            <option value="1440">Ultimo giorno</option>
            <option value="2880">Ultimi 2 giorni</option>
            <option value="10080">Ultimi 7 giorni</option>
            <option value="43200" selected>Ultimi 30 giorni</option>
            <option value="129600">Ultimi 90 giorni</option>
          </select>
        </div>
      </div>
    </div>
    <div id="container" class="mt-5" style="width:100%; height:400px;"></div>
  </section>


{% endblock %}
