{% extends '@App/Default/index.html.twig' %}

{% set ente = instance_service.getCurrentInstance() %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('bundles/app/js/formio-i18n.js') }}"></script>
  {{ encore_entry_script_tags('service-manager') }}
{% endblock %}

{% block main_content %}

  <section id="intro" class="container px-4 my-4 {{ form.vars.id }}">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        {% if servizio.name == '' %}
          <h2>{{ 'servizio.crea'|trans() }}</h2>
        {% else %}
          <h2>{{ 'servizio.modifica'|trans({'%name%':servizio.name}) }}</h2>
        {% endif %}
      </div>
    </div>

    <div class="row hidden-xs">
      <div class="col-md-12 mt-4 mb-4">
        {% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
      </div>
    </div>

    <div class="row mb-4 mt-3">
      <div class="col-lg-8 px-lg-4">
        <h4>
          {{ flow.getCurrentStepNumber() }} / {{ flow.stepCount }}
          -
          {% if form.vars.helper.stepTitle|length > 0 %}
            {{ form.vars.helper.stepTitle }}
          {% else %}
            {{ flow.currentStepLabel()|trans }}
          {% endif %}
        </h4>
      </div>
      <div id="protocol-info" class="col-lg-12 px-lg-4 mt-2 d-none">
        <div class="mt-3">
          <p>Protocollo: <strong>{{ protocollo_handler.name }}</strong></p>
        </div>
        <hr>
      </div>
      <div id="preview" class="col-lg-4 px-lg-4 d-none">
        <a href="#" data-schema="{{ path('admin_servizio_schema_edit', {'servizio':servizio.id} ) }}"
           data-type="preview" data-target="{{ path('preview_service', {'service':servizio.id}) }}"
           class="btn btn-xs btn-outline-primary float-right preview">
          <svg class="icon">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-note"></use>
          </svg>
          Anteprima
        </a>
        <a href="#" data-schema="{{ path('admin_servizio_schema_edit', {'servizio':servizio.id} ) }}" data-type="print"
           data-target="{{ path('print_service_pdf', {'service':servizio.id}) }}"
           class="btn btn-xs btn-outline-primary float-right mr-2 print">
          <svg class="icon">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-print"></use>
          </svg>
          Stampa
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 px-lg-4">
        <div class="step-{{ flow.getCurrentStepNumber() }}">

          {{ form_start(form, {'action': path('admin_servizio_edit', {'servizio': servizio.id }) } ) }}
          {{ form_errors(form) }}

          {% if form.vars.helper.descriptionText|length > 0 %}
            <blockquote>
              {{ form.vars.helper.descriptionText|raw }}
            </blockquote>
          {% endif %}

          {{ form_rest(form) }}

        </div>

        <div class="row d-none">
          <div class="col-lg-12">
            <div class="callout">
              <div class="callout-title">
                <svg class="icon">
                  <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-info-circle"></use>
                </svg>
                Guida
              </div>
              <p>Seleziona un template di partenza per la creazione del form</p>
            </div>
          </div>
          <div class="col-lg-12"><h5>Template vuoto</h5></div>
          <div class="card-wrapper card-teaser-wrapper col-lg-12" id="formio-empty-templates-container"></div>
          <div class="col-lg-12"><h5>Templates basati su servizi esistenti</h5></div>
          <div class="card-wrapper card-teaser-wrapper col-lg-12" id="formio-templates-container"
               data-url="{{ path('admin_servizio_list') }}"></div>
        </div>
        <div id="formio" data-formserver_url="{{ formserver_url }}"></div>
        <div id="builder"></div>

        <div class="mt-5">
          {% include '@App/FormFlow/serviceButtons.html.twig' %}
        </div>
        {{ form_end(form) }}
      </div>

    </div>

  </section>

  <div class="modal fade" id="confirm" tabindex="-1"
       role="dialog"
       aria-labelledby="confirmAutoAssignLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          {{ 'steps.common.conferma.sei_sicuro_di_inviare'|trans }}
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal"
                  class="btn">{{ 'steps.common.conferma.no'|trans }}</button>
          <button type="button" data-dismiss="modal" class="btn btn-primary"
                  id="ok">{{ 'steps.common.conferma.si'|trans }}</button>
        </div>
      </div>
    </div>
  </div>

  {% verbatim %}
  <script id="tpl-form" type="text/x-jsrender">
    <div class="card card-teaser rounded shadow formio-template" data-id="{{:id}}" id="{{:id}}">
      <div class="card-body">
        <h5 class="card-title">{{:title}}</h5>
        <p class="card-text">{{:description}}</p>
      </div>
    </div>
  </script>

  <script id="tpl-empty" type="text/x-jsrender">
    <div class="col-lg-12 alert alert-warning"><p>Nessun template disponibile</p></div>
  </script>
  {% endverbatim %}

{% endblock %}
