{% extends '@App/Default/index.html.twig' %}

{% block main_content %}
    <section id="intro" class="container my-4">
        <div class="row">
            <div class="col-lg-12">
                <h2>Operatori</h2>
            </div>

            <div class="col-lg-12">
                <div id="no-more-tables">
                    <table class="table table-striped table-condensed cf">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Stato</th>
                        <th>Ultima modifica password</th>
                        <th>Azioni</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for operatoreUser in operatoreUsers %}
                        <tr>
                            <td data-title="Nome">
                                <a href="{{ path('admin_operatore_show', { 'id': operatoreUser.id }) }}">{{ operatoreUser.nome }} {{ operatoreUser.getCognome }}</a>
                            </td>
                            <td data-title="Username">{{ operatoreUser.username }}</td>
                            <td data-title="Email">{{ operatoreUser.email }}</td>
                            <td data-title="Stato">{% if operatoreUser.enabled %}Abilitato{% else %}Non abilitato{% endif %}</td>
                            <td data-title="Ultima modifica password">{% if operatoreUser.lastChangePassword %}{{ operatoreUser.lastChangePassword|date('Y-m-d H:i:s') }}{% else %} --- {% endif %}</td>
                            <td data-title="Azioni" class="actions">
                              <a class="btn btn-secondary btn-xs" href="{{ path('admin_operatore_edit', { 'id': operatoreUser.id }) }}">Modifica</a>
                              <a class="btn btn-danger btn-xs" onclick="return confirm('Sei sicuro di procedere? L\'operatore verrà eliminato definitivamente.');" href="{{ path('admin_operatore_delete', { 'id': operatoreUser.id }) }}">Elimina</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                <a class="btn btn-primary" href="{{ path('admin_operatore_new') }}">Crea nuovo operatore</a>
            </div>
        </div>
    </section>
{% endblock %}
