$primary: #3478bd;
$primary-a6: $primary;
$primary-a7: #2b649e;
$bg-footer: #214c77;
$primary-h: 210;
$primary-s: 72;
$primary-b: 74;

@import "base";
@import "header";
@import "navigation";
@import "progressbar";
@import "override/forms";
@import "override/sdc";
@import "formio-components";
@import "calendars";
@import "components/messages";
@import "~outdated-browser-rework/style";

.iter-timeline-wrapper {
  .it-now-label {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 1rem;
    font-family: $font-family-monospace;
    color: $primary-a6;
    font-weight: 600;
  }

  .row {
    position: relative;
    padding-top: $v-gap * 6;
    //padding-bottom: $v-gap*6;
    &:after {
      content: '';
      width: $timeline-width;
      background: $timeline-border-color;
      position: absolute;
      left: $v-gap * 5;
      top: -$v-gap * 2;
      bottom: -$v-gap * 2;
    }
  }

  .timeline-element {
    padding: 6px 0 6px 50px;

    .card {
      background-color: #efefef;
    }
  }

  .it-pin-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: -$timeline-pin-circle-size/2;
    z-index: 5;
    left: $timeline-padding;

    .pin-icon {
      width: $timeline-pin-circle-size;
      height: $timeline-pin-circle-size;
      border-radius: $timeline-pin-circle-size;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: $card-shadow;
      border: $timeline-pin-circle-border;
      margin-right: $v-gap * 2;
      background: #fff;
      &.in-progress{
        background:#efefef !important;
      }
    }

    svg {
      width: $timeline-pin-size;
      height: $timeline-pin-size;
      fill: $primary-a6;
    }

    .pin-text {
      color: $select-label-color;
      font-weight: 600;
      text-transform: uppercase;
      background: $primary-c1;
      border-radius: $border-radius;
      font-family: $font-family-monospace;
      font-size: 14px;
      margin-right: 1rem;

      span {
        padding: $v-gap/2 $v-gap * 2;
        display: block;
        position: relative;

        &:after {
          content: '';
          width: 10px;
          height: 10px;
          background: $primary-c1;
          border-radius: 3px;
          position: absolute;
          left: -4px;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }

    &.it-now {
      .pin-icon {
        background: $primary-a6;
      }

      svg {
        fill: #fff;
      }

      .pin-text {
        color: #fff;
        background: $primary-a6;

        span {
          &:after {
            background: $primary-a6;
          }
        }
      }
    }

    &.it-evidence {
      .pin-icon {
        background: $primary-a10;
      }

      svg {
        fill: #fff;
      }

      .pin-text {
        color: #fff;
        background: $primary-a10;

        span {
          &:after {
            background: $primary-a10;
          }
        }
      }
    }
  }
}

.dataTables_paginate {
  a {
    padding: 5px 10px;
    background-color: #EFEFEF;
    border: 1px solid #ccc;
    margin-left: 4px;
    text-decoration: none;
    cursor: pointer;
    &.disabled {
      color: #ccc;
      cursor: auto;
    }
    &.current {
      color: $white;
      background-color: $primary;
    }
  }
}


  @media screen {
    #pratica-summary, .formio-read-only{
    .d-preview-calendar{
      display: block;
    }
      .d-preview-calendar-none{
        display: none;
      }
  }
    .d-preview-calendar{
      display: none;
    }
    .d-preview-calendar-none{
      display: block;
    }
}

.d-none{
  &-FormIO{
display: none;
  }
  &-SciaPraticaEdilizia{
    display: none;

  }
}
//Fix resize label in tabs
.tab-content .form-group label{
  width: auto !important;
}


