{% set ente = instance_service.getCurrentInstance() %}

{% if is_granted('ROLE_OPERATORE') %}
  <div class="bg-100 pt-3 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="menu-wrapper user-menu pl-4">
            <ul class="nav justify-content-center">
              <li
                class="nav-item {% if  'parametri-protocollo' not in app.request.pathInfo and 'usage' not in app.request.pathInfo %} active {% endif %}">
                <a class="nav-link" href="{{ path('operatori_index') }}">
                  {{ 'nav.operatori.panello_controllo'|trans }}
                </a>
              </li>
              {#<li class="nav-item {% if 'parametri-protocollo' in app.request.pathInfo %} active {% endif %}">
                <a class="nav-link"
                   href="{{ path('operatori_impostazioni_protocollo_list') }}">
                  {{ 'nav.operatori.protocollo'|trans }}
                </a>
              </li>#}
              <li class="nav-item {% if 'usage' in app.request.pathInfo %} active {% endif %}">
                <a class="nav-link" href="{{ path('operatori_usage') }}">
                  {{ 'nav.operatori.usage'|trans }}
                </a>
              </li>
              {% if is_granted('ROLE_OPERATORE_ADMIN') %}
                <li class="nav-item {% if 'operatori/list' in app.request.pathInfo %} active {% endif %}">
                  <a class="nav-link" href="{{ path('operatori_list_by_ente') }}">
                    {{ 'nav.operatori.lista_operatori'|trans }}
                  </a>
                </li>
              {% endif %}
              {{ include('@App/Default/nav/backoffices.html.twig') }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% elseif is_granted('ROLE_ADMIN') %}
  <div class="bg-100 pt-3 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="menu-wrapper user-menu pl-4">
            <ul class="nav justify-content-center">
              <li class="nav-item {% if 'ente' in app.request.pathInfo %} active {% endif %}">
                <a class="nav-link "
                   href="{{ path('admin_edit_ente') }}">
                  Impostazioni istanza
                </a>
              </li>
              <li class="nav-item {% if 'operatore' in app.request.pathInfo %} active {% endif %}">
                <a class="nav-link "
                   href="{{ path('admin_operatore_index') }}">
                  Operatori
                </a>
              </li>
              <li class="nav-item {% if 'servizio' in app.request.pathInfo %} active {% endif %}">
                <a class="nav-link "
                   href="{{ path('admin_servizio_index') }}">
                  Servizi
                </a>
              </li>
              <li class="nav-item {% if 'service-group' in app.request.pathInfo %} active {% endif %}">
                <a class="nav-link "
                   href="{{ path('admin_service_group_index') }}">
                  Gruppo di servizi
                </a>
              </li>
              <li class="nav-item {% if 'logs' in app.request.pathInfo %} active {% endif %}">
                <a class="nav-link "
                   href="{{ path('admin_logs_index') }}">
                  Logs
                </a>
              </li>
              {{ include('@App/Default/nav/backoffices.html.twig') }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="bg-100 pt-3 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="menu-wrapper user-menu pl-4">
            <ul class="nav justify-content-center">
              {% if  login_route == constant('AppBundle\\Security\\AbstractAuthenticator::LOGIN_TYPE_NONE')  %}
                <li class="nav-item {% if 'servizi' in app.request.pathInfo %} active {% endif %}">
                  <a class="nav-link " href="{{ path('servizi_list') }}">
                    {{ 'nav.servizi'|trans }}
                  </a>
                </li>
              {% else %}
                <li class="nav-item {% if 'dashboard' in app.request.pathInfo %} active {% endif %}">
                  <a class="nav-link " href="{{ path('user_dashboard') }}">
                    {{ 'nav.dashboard'|trans }}
                  </a>
                </li>
                <li class="nav-item {% if 'servizi' in app.request.pathInfo %} active {% endif %}">
                  <a class="nav-link " href="{{ path('servizi_list') }}">
                    {{ 'nav.servizi'|trans }}
                  </a>
                </li>
                <li class="nav-item {% if 'pratiche' in app.request.pathInfo and 'allegati' not in app.request.pathInfo %} active {% endif %}">
                  <a class="nav-link " href="{{ path('pratiche') }}">
                    {{ 'nav.pratiche'|trans }}
                  </a>
                </li>
                <li class="nav-item {% if 'profilo' in app.request.pathInfo %} active {% endif %}">
                  <a class="nav-link " href="{{ path('user_profile') }}">
                    {{ 'nav.profilo'|trans }}
                  </a>
                </li>
                <li class="nav-item {% if 'allegati' in app.request.pathInfo %} active {% endif %}">
                  <a class="nav-link " href="{{ path('allegati_list_cpsuser') }}">
                    {{ 'nav.allegati'|trans }}
                  </a>
                </li>
                <li class="nav-item {% if 'documenti' in app.request.pathInfo %} active {% endif %}">
                  <a class="nav-link " href="{{ path('folders_list_cpsuser') }}">
                    {{ 'nav.documenti'|trans }}
                  </a>
                </li>
                {% if 'operatori_subscription-service_index' in ente.backofficeEnabledIntegrations %}
                  <li class="nav-item {% if 'iscrizioni' in app.request.pathInfo %} active {% endif %}">
                    <a class="nav-link " href="{{ path('subscriptions_list_cpsuser') }}">
                      {{ 'nav.iscrizioni'|trans }}
                    </a>
                  </li>
                {% endif %}
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

