# HELP applications A summary of the application count.
# TYPE applications summary
{% for metric in metrics %}
sdc_applications{tenant="{{ metric.ente }}",service="{{ metric.servizio }}",status="{{ ('pratica.dettaglio.stato_'~metric.status)| trans }}"{% if metric.categoria|length %},category="{{ metric.categoria }}"{% endif %}{% if metric.gruppo|length %},group="{{ metric.gruppo }}"{% endif %}} {{ metric.count }}
{% endfor %}
