{% extends '@App/Default/index.html.twig' %}
{% block main_content %}
    {#{% form_theme form 'bootstrap_3_layout.html.twig' %}#}
    <section id="section container px-4 my-4">
        <div class="pb-5">
            <div class="container px-4">
                <div class="row mt-5">
                    <div class="col">
                        <h1>{{ 'terms.title'|trans() }}</h1>

                        {{ form_start(form) }}

                        {% for term in terms %}
                            <h2 class="term">{{ term.name }}</h2>
                            {{ term.text|raw }}
                            {{ form_row(form[term.id|trim]) }}
                        {% endfor %}

                        {{ form_row(form.save) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
