.user-menu {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}


.checkbox-wrapper {
  border: solid 1px $red;
  border-radius: 10px;
  padding: 1rem 1.222rem;
}

.it-footer-main {
  a {
    color: $white !important;
  }
  h4 {

    span {
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;
    }
  }
}

i.mandatory::after {
  content: "*";
  font-size: x-large;
  color: $red;
}

.vue-upload {
  padding-bottom: 20px;
}

table {
  td
  {
    .min-h-65 {
      min-height: 65px;
    }
    &.actions {
      width: 18%;
    }
  }
}

@include media-breakpoint-down(md) {
  /* Force table to not be like tables anymore */
  #no-more-tables {
    table, thead, tbody, th, td, tr {
      display: block;
    }
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    td {
      .min-h-65{
        min-height: 65px;
      }
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      white-space: normal;
      text-align: left;
      &:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 18px;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
        content: attr(data-title);
      }
      &.actions {
        width: unset;
      }
    }
  }
}

#pswd_info{
  position: absolute;
  z-index: 10000000;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  top: -180px;
  left: 25%;
  padding: 20px;
  border-radius:5px;
  box-shadow:0 1px 3px #ccc;
  border:1px solid #ddd;
  width: 320px;
  height: 180px;
  text-align: left;
  &:after {
    content: "\25BC";
    position:absolute;
    bottom:-15px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
  }

  li {
    padding: 5px 0;
    font-size: 14px !important;
    line-height: 1.1;
    text-align: left;
  }
}

#pratica-summary {
  .row {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    &.last {
      border-bottom: none;
    }
  }
}

#pratica-summary .row:nth-child(even) {
  background-color: #f2f2f2;
}

// Vue elements

.el-textarea__inner {
  border-radius: 0 !important;
}

#vueApp,
#vueApp2 {
  .el-upload__tip {
    font-size: 0.7rem !important;
  }

  .el-upload-list__item {
    line-height: 2.5 !important;
    font-size: 0.8rem !important;
    background-color: #f2f2f2 !important;

    .el-icon-close {
      top: 12px !important;
    }
  }

  .row-upload{
    padding: 8px;
    margin-bottom: 10px;

    &:nth-child(even) {
      background-color: #f2f2f2;

      .el-upload-list__item {
        background-color: #fff !important;
      }
    }

    .description {
      font-size: .9rem;
    }
  }
}

#upload_message_attachment,
#upload_outcome_attachment {
  .el-button {
    font-weight: 600;
    border: 0 solid transparent;
    line-height: 1.5;
    border-radius: 4px;
  }
  .el-button--primary {
    color: #003882;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 0 0 1px #003882;
  }
  .el-button--primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(0, 56, 130, 0.5);
  }

  .el-button.el-button--primary:focus {
    outline: none;
    box-shadow: inset 0 0 0 1px #003882, 0 0 0 0.2rem rgba(0, 56, 130, 0.5);
  }
}

.alert {
  &.no-icon {
    background: none !important;
    padding-left: 1rem;
  }
}

/* Upload allegato operatore - fix volante */

form[name="upload_allegato_operatore"] {
  .alert {
    border-left: 1px solid #b1b1b3 !important;
    .badge {
      display: none !important;
    }
  }
}

#upload_allegato_operatore_allegati_operatore {
  .invalid-feedback {
    display: none !important;
  }
}

.formio-template {
  cursor: pointer;
}

.gateway-form-type {
  padding: 0.5rem;
  background-color: #EFEFEF;
  fieldset {
    margin-bottom: 2rem;
    legend {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
  label {
    padding: 0;
    width: auto !important;
  }
}

.callout {
  .body {
    p {
      font-family: "Titillium Web", Geneva, Tahoma, sans-serif !important;
    }
  }
}

.bg-blanchedalmond {
  background-color: blanchedalmond;
}

.bg-aliceblue {
  background-color: aliceblue;
}

.protocol_data {
  #protocol-info {
    display: block !important;
  }
}

#mailer-item {
  label {
    margin: 0 !important;
  }
  .form-group {
    margin: 0 !important;
  }
}
